.wrapper {
  border: none;
  padding: 15px 25px;
  font-size: 20px; /*반*/
  font-weight: 600;
  background: lightgray;
  z-index: 1;
}
.icon {
  padding: 0px 10px;
  font-size: 35px;
}
.wide {
  padding: 12px 50px;
}
.radius {
  border-radius: 15px;
}
.pink {
  background-color: pink;
}
.lightskyblue {
  background-color: lightskyblue;
}
