html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --test: pink;
}

.wrapper {
  scroll-behavior: smooth;
  height: 100vh;
  scroll-snap-type: y mandatory;
  /*scroll-padding-top: 10px;*/
  overflow-y: scroll;
}
.wrapper::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.wrapper > div {
  scroll-snap-align: start;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  /*align-items: center;*/
}

.main-contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.main-ment {
  font-weight: 600;
  font-size: 18px; /*반*/
  text-align: center;
  z-index: 1;
  position: absolute;
  margin-bottom: 400px;
}
.main-content {
  display: flex;
  flex-direction: column;
  height: 400px; /*반*/
  width: 400px; /*반*/
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-coffeCount1 {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.cheers-icon {
  height: 100%; /*반*/
  width: 100%; /*반*/
  position: absolute;
  z-index: 0;
}
.coffee-icon {
  height: 150px; /*반*/
  width: 110px; /*반*/
  z-index: 1;
}
.main-coffeCount1-text {
  align-items: center;
  display: flex;
  font-size: 45px;
  font-weight: 500;
}
.main-coffeCount2 {
  background-color: rgba(210, 210, 210, 0.4);
  padding: 5px 10px;
  font-size: 18px;
  z-index: 1;
  margin-bottom: 10px;
}
.main-coffeCount2-text {
  font-weight: 500;
}
.main-countButton {
  display: flex;
  flex-direction: row;
}
