@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --test: pink;
}

.button-wrapper {
  border: none;
  padding: 15px 25px;
  font-size: 1.2em;
  font-weight: 600;
  background: lightgray;
  z-index: 1;
  cursor: pointer;
}
.button-icon {
  padding: 0px 10px;
  font-size: 35px;
  font-family: "IM_Hyemin-Bold";
}
.wide {
  padding: 12px 50px;
}
.radius {
  border-radius: 15px;
}
.pink {
  background-color: pink;
}
.lightskyblue {
  background-color: lightskyblue;
}
.text-red {
  color: red;
}
.text-blue {
  color: blue;
}

.wrapper {
  scroll-behavior: smooth;
  height: 100vh;
  scroll-snap-type: y mandatory;
  /*scroll-padding-top: 10px;*/
  overflow-y: scroll;
}
.wrapper::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.wrapper > div {
  scroll-snap-align: start;
}

.container {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  /*align-items: center;*/
}
.scroll-icon {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 50px;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.contentWrapper.cheers {
  background-color: lightyellow;
}
.contentWrapper.credit {
  background-color: gray;
  color: white;
}
.ment {
  font-weight: 700;
  font-size: 1.2em;
  white-space: pre-wrap;
  font-family: "GangwonEdu_OTFBoldA";
}
.ment.cheers {
  text-align: center;
  z-index: 1;
  position: absolute;
  margin-bottom: 450px;
}
.cheers-content {
  display: flex;
  flex-direction: column;
  height: 400px; /*반*/
  width: 520px; /*반*/
  background: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cheers-coffeCount1 {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.cheers-icon {
  height: 100%; /*반*/
  width: 100%; /*반*/
  position: absolute;
  z-index: 0;
  opacity: 0.7;
}
.coffee-icon {
  height: 120px; /*반*/
  width: 150px; /*반*/
  z-index: 1;
}
.cheers-coffeCount1-text {
  align-items: center;
  display: flex;
  font-size: 45px;
  font-weight: 500;
}
.cheers-coffeCount2 {
  background-color: rgba(210, 210, 210, 0.4);
  padding: 5px 10px;
  font-size: 18px;
  z-index: 1;
  margin-bottom: 10px;
}
.cheers-coffeCount2-text {
  font-weight: 500;
}
.cheers-countButton {
  display: flex;
  flex-direction: row;
}
.cheers-count {
  background-color: lightgray;
  padding: 0px 50px;
  font-size: 30px;
  z-index: 1;
  display: flex;
  align-items: center;
}
.cheers-registerButton {
  position: absolute;
  bottom: 15px;
}

.row-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.please-inner {
  padding-left: 12vw;
}
.please-icon {
  height: 350px;
  width: 350px;
  padding: 20px;
}

.credit-title {
  font-size: 2.5em;
  font-weight: 700;
}
.credit-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh;
}
.large-icon {
  height: 40vh;
}
.credit-name {
  font-size: 2em;
  font-weight: 600;
  padding: 2vh;
}
.credit-text {
  font-size: 1.2em;
  font-weight: 500;
}
.credit-contact {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  align-items: center;
}
.credit-contact-text {
  white-space: pre-wrap;
  text-align: center;
  padding-right: 10px;
}

.join-text {
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  white-space: pre-wrap;
}
.join-check {
  display: flex;
  flex-direction: row;
  padding: 25px;
}
.join-input {
  font-size: 25px;
  font-weight: 500;
  border: 1px solid lightgray;
  background: rgba(196, 196, 196, 0.1);
  padding: 20px;
  margin-right: 20px;
}
.join-input::-webkit-input-placeholder {
  color: rgb(95, 42, 42);
}
.join-button {
  margin-top: 40px;
  padding: 20px 50px;
  min-width: 320px;
  font-weight: 700;
}

.mini-icon {
  height: 35px;
}
